---
import { Image } from 'astro:assets'
import Github from '../assets/github.svg'
import Unicorn from '../assets/unicorn.svg'
import CloudA from '../assets/cloud-a.svg'
import CloudB from '../assets/cloud-b.svg'
import ArrowDown from '../assets/arrow-down.svg'
---

<Image class="unicorn" src={Unicorn} alt="" />
<Image class="cloud-a" src={CloudA} alt="" />
<Image class="cloud-b" src={CloudB} alt="" />
<div class="hero-gradient"></div>
<div class="scroll-target"></div>
<section class="welcome">
    <h1>
            Welcome to <span class="bold">Unistyles 2.0<span> </span>
            <h2>Level up your React Native StyleSheet!</h2>
            <div class="buttons">
                <a href="/start/setup/">
                    <button class="primary"> Get Started</button>
                </a>
                <a
                    href="https://github.com/jpudysz/react-native-unistyles"
                    target="_blank"
                >
                    <button>
                        <Image class="github" src={Github} alt="" />
                         Github
                    </button>
                </a>
            </div>
        </span>
        <div class="scroll">
            Click to scroll
            <Image class="scroll__icon" src={ArrowDown} alt="" />
        </div>
    </h1>
</section>

<script>
    import { scroll, timeline } from 'motion'

    const scrollTarget = document.querySelector<HTMLDivElement>('.scroll-target')!
    const cloudA = document.querySelector<HTMLDivElement>('.cloud-a')!
    const cloudB = document.querySelector<HTMLDivElement>('.cloud-b')!
    const unicorn = document.querySelector<HTMLDivElement>('.unicorn')!

    scroll(timeline([
        [cloudA, { transform: ['translateX(0%)', 'translateX(-5%)'] }, { at: '<' } ],
        [cloudB, { transform: ['translateX(0%)', 'translateX(5%)'] }, { at: '<' } ],
        [unicorn, { filter: ['hue-rotate(0deg)', 'hue-rotate(-90deg)'] }, { at: '<' }]
    ]), {
        smooth: 1,
        target: scrollTarget
    })
</script>

<style>
    .unicorn,
    .cloud-a,
    .cloud-b {
        height: auto;
        position: absolute;
    }

    .scroll-target {
        pointer-events: none;
        inset: 0;
        position: absolute;
        height: 200vh;
        width: 0;
    }

    .unicorn {
        width: 100vw;
        z-index: 10;
        inset: 0;
    }

    .cloud-a {
        z-index: 20;
        width: 69vw;
        top: 34.5vw;
        left: 12.5vw;
    }

    .cloud-b {
        z-index: 10;
        width: 69vw;
        top: 32vw;
        left: 42.5vw;
    }

    .hero-gradient {
        width: 100%;
        aspect-ratio: 1.5;
        background: radial-gradient(
            50% 50% at 50% 50%,
            #2d0bb5,
            cubic-bezier(0.3, 0, 0.5, 0.5),
            transparent
        );
        position: absolute;
        left: 0;
        top: 20vw;
    }

    .welcome {
        position: relative;
        color: var(--black);
        z-index: 20;
        padding: 22vw 11vw;
    }

    h1 {
        font-size: clamp(32px, 3.5vw, 74px);
        font-weight: 500;
    }

    h2 {
        font-size: clamp(16px, 1.5vw, 32px);
        font-weight: 600;
        margin-left: 1%;
    }

    .bold {
        font-weight: 700;
    }

    .buttons {
        margin-top: 40px;
        display: flex;
        gap: 16px;
    }

    button {
        font: inherit;
        font-size: 100%;
        border: none;
        padding: 16px 48px;
        border-radius: 100px;
        background-color: rgba(255, 255, 255, 0.5);
        color: var(--black);
        cursor: pointer;
        font-size: 20px;
        font-weight: 600;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .primary {
        background-color: var(--black);
        color: var(--white);
    }

    .github {
        width: 32px;
        height: auto;
    }

    .scroll {
        position: absolute;
        color: var(--pink);
        z-index: 50;
        left: 50%;
        top: 55vw;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;

        &::selection {
            background-color: var(--background);
        }

        &__icon {
            width: 28px;
            height: auto;
        }
    }
</style>
